<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Datos</title>
</head>
<body>

  <h3>Buscando cuyo id sea menor o igual a 15</h3>
  <ul>
    {% for elm in filtered %}
      <li>{{elm.name}}</li>
    
    {% endfor %}
  </ul>

  <h3>Elementos ordenandos por email</h3>
  <ul>
    {% for order in orders %}
    <li>{{order.email}}</li>
    {% endfor %}
  </ul>

  <h3>Obtener 5 elementos saltando los 5 primeros  (offsets)</h3>
  <ul>
    {% for offset in offsets %}
    <li>{{offset.email}}</li>
    {% endfor %}
  </ul>

  <h3>Obtener los 10 primeros elementos (limit)</h3>
  <ul>
    {% for limit in limits %}
    <li>{{limit.email}}</li>
    {% endfor %}
  </ul>


  <h3>Buscando author donde email =  michelle14@example.com</h3>
  <ul>
    {% for elm in filtered %}
      <li>{{elm.name}} | {{elm.email}}</li>
    
    {% endfor %}
  </ul>
  <h3>Obteniendo un unico elemento(filtrado por id)</h3>
  <p>{{author.email}}</p>

  <h3>Todos los autores</h3>
  <ul>
    {% for author in authors %}
      <li>{{author.name}}({{author.email }})</li>
    {% endfor%}
  </ul>
  <h3>Total de authores: {{authors|length}}</h3>
</body>
</html>